@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

$border-radius   : 0;
$font-size-base  : 1.2rem;
$font-family-base: 'IBM Plex Sans', sans-serif;

@import '~bootstrap/scss/bootstrap.scss';

body {
  margin     : 0;
  padding    : 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
